<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Lista films</title>
</head>
<body>
    <div class="col-3 my-2">
        <header class="my-2">
            <h2>Lista Films</h2>
        </header>
        <!-- Recap della mia lista-->
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="col-2">codice</th>
                    <th class="col-2">titolo</th>
                    <th class="col-2">genere</th>
                    <th class="col-2">anno</th>
                    <th class="col-2">voto</th>
                </tr>
            </thead>
        <!-- pag 42 -->
            <tbody>
                <tr th:each="f: ${films}">
                    <td th:text="${f.codice}"></td>
                    <td th:text="${f.titolo}"></td>
                    <td th:text="${f.genere}"></td>
                    <td th:text="${f.anno}"></td>
                    <td th:text="${f.voto}"></td>
                </tr>
            </tbody>
        </table>

        <div>
            <a href="@{films/new}" class="btn btn-primary">Aggiungi contatto</a>
            <input class="btn btn-success" type="reset" value="Svuota">
        </div>
        
        <small th:if="${#lists.isEmpty(contacts)}">
            Nessun contatto inserito
        </small>
</div>
    </div>
</body>
</html>